<% content_for :content do %>
   <p><h3>Issued books</h3></p>
   <table class="table table-hover">
     <thead>
     <tr>
       <th>ISBN</th>
       <th>Book Title</th>
       <th>Book Author</th>
       <th>Copies</th>
       <th>Available</th>
     </tr>
     </thead>
     <tbody>
     <% @books.each do |book| %>
         <tr>
           <td><%= book.isbn %></td>
           <td><%= book.title %></td>
           <td><%= book.author %></td>
           <td><%= book.book_copies.size %></td>
           <td><%= book.book_copies.size - @reservations.count{|r| r.book_id == book.id} %></td>
         </tr>
     <% end %>
     </tbody>
   </table>
<% end %>
