<div class="book-info">
  <img src="<%= @book.photo_remote_url %>" />
  <h2>You are holding the following book:</h2>
  <h3 class="title"><%= @book.title %></h3>
  <h3 class="author"><%= @book.author %></h3>
  <h3 class="author"><%= @book.author %></h3>
  <h3>
    <% if @book_found %>
      This book has <%= @book.book_copies.size %> copies.
    <% else %>
      A copy of this book has been added.
    <% end %>
  </h3>
  <input type="hidden" name="isbn" value="<%= @book.isbn %>"/>
  <h3>I have <input type="number" value="1"> more copies.<input type="button" value="Add" class="btn"/></h3>
</div>

